.form_them{
    display: flex;
    justify-content: center;
    margin: 5px 10px 10px 0px;
}
.title_hd{
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: 25px;
    color: #f57234;
    font-family: var(--bs-body-font-family);
    font-weight: bold;
}
.container_hd{
    border-top: 3px solid ;
    border-color: #f57234;
    width: 100%;
    height: 800px;;
    line-height: 45px;
    font-family: 'Roboto', helvetica;
    padding: 0px 14px 24px 30px;
    background: white;
    font-size: 20px;

}
 #txtMaP, #txtMaSV, #txtMaNV, #dtpNgayBD, #dtpNgayKT, #txtMaHD{
    height: 40px;
    color:black ;
    font-size: 16px;
    width: 100%;
}
.label_hd{
    width: 16%;
    font-size: 20px;
    font-family: Inter, Helvetica, Arial, sans-serif;
    color: #544e4e;
    font-weight: bold;
    padding-top: 16px;
    
}
.them_hd{
    width: 100%;
}
.chucnang_hd{
    display: flex;
    margin-top: 30px;
    gap: 35px;
  
}

.luu_hd{
    gap: 10px;
    border-radius: 4px;
    color: #ffffff;
    background: #0b85bd;
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row-reverse;
}

.link_quaylai{
    border-radius: 4px;
    background: #ed1616;
    align-items: center;
    display: flex;
    gap: 10px;  
    border: none;
}   

.luu_hd i {
    font-size: 27px;
}
.link_quaylai i {
    font-size: 27px;
    color: #ffffff;
}
.link_quaylai a{
  text-decoration: none;
  color: #ffffff;
  
}
