.container {
    width: 1600px;
}

.row-container {
    display: flex;
    width: 99%;
    column-gap: 70px;
    position: relative;
    left: 1px;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    height: 100px;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box label {
    font-weight: 500;
}

.box div {
    font-size: 30px;
    font-weight: 500;
    margin-left: 5px;
}

.heading {
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}

#txtsearch {
    width: 400px;
    padding: 5px 5px;
    border: 1px solid #99999941;
    background-color: rgba(223, 223, 223, 0.541);
}

.heading #search-click {
    padding: 5px 30px;
    background-color: #f57234;
    color: white;
    border: 1px solid #99999941;
}

.heading a {
    text-decoration: none;
    background-color: #f57234;
    color: white;
    padding: 5px 20px;
    border: 1px solid #99999941;
}

form {
    background-color: white;
    padding: 20px;
    font-size: 15px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}

td a {
    color: rgba(0, 0, 0, 0.637);
    font-size: 19px;
    margin-left: 10px;
}

td div {
    padding: 5px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    color: white;
}

td a:hover {
    color: #f57234;
}

.btn-div {
    display: flex;
}