.box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.heading {
    background-color: #F58634;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
}

.heading img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: contain;
}

.heading input {
    border: 1px solid rgb(82, 85, 245);
    width: 250px;
    padding: 6px;
    border-radius: 10px;
}

.heading div {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.container {
    width: 100%;
    margin-top: 240px;
}

.col input,
.col select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid rgb(153, 152, 152);
}

#goback {
    width: 50px;
    height: 37px;
    background-color: rgb(82, 85, 245);
    position: absolute;
    top: 0;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.btn-function {
    width: 200px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: #F58634;
    border: none;
    color: white;
    border-radius: 10px;
    display: flex;
    margin: 30px auto;
}

.cccdback,
.cccdfront {
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: flex;
    margin-top: 10px;
}

.avatar {
    width: 100%;
    height: 250px;
    object-fit: contain;
    display: flex;
    margin-top: 10px;
}

.title-info {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn-div {
    display: flex;
    gap: 30px;
    justify-content: center;
}