body {
    font-family: 'Roboto', helvetica;
    margin: 0;
    padding: 0 20px 0 20px;
}

header {
    background-color: #f57234;
    padding: 20px;
    text-align: center;
}

.Search {
    padding: 20px;
    text-align: center;
}

.Search input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.Search input[type=submit] {
    background-color: #f57234;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.Search a,
.Search select {
    background-color: #f57234;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.Search select {
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
}

.Search a {
    padding: 11px 40px;
    border-radius: 10px;
}

.Search #txtsearch {
    background-color: #f2f2f2;
}

.row-E,
.row-W {
    display: flex;
    gap: 30px;
}

.function {
    display: flex;
    gap: 10px;
}

.function a {
    text-decoration: none;
    background-color: #f57234;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
}

.container {
    padding: 20px 200px;
}

.col input,
.col select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid rgb(153, 152, 152);
    display: flex;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.btn-function input,
.btn-function button {
    display: flex;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #f57234;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}